## List
- List is an ordered sequence of items
- We can have different data types under a list ex- integer,float and strings in a list.
- Lists are used to store multiple items in a single variable.

### Points to be remember
- Insertion order preserved
- Duplicate objects are allowed
- Heterogenous objects are allowed
- It is mutable
- Mutable means it can be changed
- Value at any index can be changed
- Slicing and negative indexing can be done on list
- Denoted by []

In [1]:
l=[12,"shiv",6.7,True,2+5j]
print(type(l))

<class 'list'>

In [2]:
l

[12, 'shiv', 6.7, True, (2+5j)]

In [3]:
print(l)

[12, 'shiv', 6.7, True, (2+5j)]

In [4]:
l1=['shiv','divya','karan','leena']
print(type(l1))

<class 'list'>

In [5]:
l

[12, 'shiv', 6.7, True, (2+5j)]

In [6]:
l1

['shiv', 'divya', 'karan', 'leena']

In [7]:
l[0]

12

In [8]:
l1[0]

'shiv'

In [9]:
l[2]

6.7

In [10]:
l[4]

(2+5j)

#### Create a empty list

In [11]:
list1=[]

In [12]:
print(type(list1))

<class 'list'>

#### Creating a List using Constructor

In [13]:
list2= list(('Divya',89,67.8,44))

In [14]:
list2

['Divya', 89, 67.8, 44]

#### List of integers numbers

In [15]:
l2=[12,56,67] 
l2

[12, 56, 67]

#### List of float numbers

In [16]:
l3=[12.8,56.7,67.5] 
l3

[12.8, 56.7, 67.5]

#### List of string

In [17]:
l4=["shiv","divya","karan"] 
l4

['shiv', 'divya', 'karan']

#### Create a nested list

In [18]:
l5=["divya",56,[6,8,67],[78,90]] 
print(l5)

['divya', 56, [6, 8, 67], [78, 90]]

In [19]:
l5[2]

[6, 8, 67]

In [20]:
l5[2][0]

6

In [21]:
l5[2][2]

67

In [23]:
l5[3][1]

90

In [22]:
len(l5)

4

### List indexing

#### Retrieve first element of the list

In [24]:
l5

['divya', 56, [6, 8, 67], [78, 90]]

In [25]:
l5[0]

'divya'

#### Retrieve last element of the list

In [26]:
l5[-1]

[78, 90]

#### Nested indexing - access the first character of the first list element

In [27]:
l5

['divya', 56, [6, 8, 67], [78, 90]]

In [28]:
l5[0][2]

'v'

In [29]:
l5[0][1]

'i'

### List slicing

#### Return all items from 0 to 4 th position

In [30]:
l5

['divya', 56, [6, 8, 67], [78, 90]]

In [31]:
l5[0:3]

['divya', 56, [6, 8, 67]]

In [32]:
l5[:1]

['divya']

In [33]:
l5[-2:]

[[6, 8, 67], [78, 90]]

#### Return whole list

In [34]:
l5[:]

['divya', 56, [6, 8, 67], [78, 90]]

### List Length

In [35]:
l6=['divya','kiran',56,34.5]
l6

['divya', 'kiran', 56, 34.5]

In [36]:
len(l6)

4

### Add items

In [37]:
l=[12,56,67,78,89,90]
l

[12, 56, 67, 78, 89, 90]

#### Add an item at the end of the list

In [38]:
l.append(10) 
l

[12, 56, 67, 78, 89, 90, 10]

In [39]:
l.append(45)
l

[12, 56, 67, 78, 89, 90, 10, 45]

#### Add an item at a particular index location

In [40]:
l.insert(0,63) 
l

[63, 12, 56, 67, 78, 89, 90, 10, 45]

In [41]:
l.insert(4,44) 
l

[63, 12, 56, 67, 44, 78, 89, 90, 10, 45]

####  Adding item using extend function

In [42]:
l = [101,450,34]
t= [34,56,67]
l.extend(t)
print(l)

[101, 450, 34, 34, 56, 67]

In [43]:
l

[101, 450, 34, 34, 56, 67]

In [44]:
t

[34, 56, 67]

In [45]:
t.extend(l)
print(t)

[34, 56, 67, 101, 450, 34, 34, 56, 67]

#### Adding element in the nested list

In [46]:
l5=["divya",56,[6,8],[78,90]] 
l5

['divya', 56, [6, 8], [78, 90]]

In [47]:
l5.append(66)
l5

['divya', 56, [6, 8], [78, 90], 66]

In [48]:
l5[3].append(88)
l5

['divya', 56, [6, 8], [78, 90, 88], 66]

In [49]:
l5[2].append(80)
l5

['divya', 56, [6, 8, 80], [78, 90, 88], 66]

### Remove items

#### Remove item from the list

In [50]:
l=[67,45,34,21,68,77]
l.remove(21) 
l

[67, 45, 34, 68, 77]

In [51]:
l.remove(55)

ValueError: list.remove(x): x not in list

#### Remove the last element of the list

In [52]:
l.pop() 
l

[67, 45, 34, 68]

#### Remove item at index location

In [53]:
l.pop(2)

34

In [54]:
l

[67, 45, 68]

In [55]:
l.pop(1)

45

In [56]:
l

[67, 68]

In [57]:
l.pop(-1)

68

In [58]:
l

[67]

In [59]:
l=[56,78,90,55,45,33]

In [60]:
l.pop(1:4)

SyntaxError: invalid syntax (3875796535.py, line 1)

In [61]:
l.pop(1,4)

TypeError: pop expected at most 1 argument, got 2

#### Remove item at index location using del

In [62]:
l

[56, 78, 90, 55, 45, 33]

In [63]:
del l[1]

In [64]:
l

[56, 90, 55, 45, 33]

In [65]:
del l
l

NameError: name 'l' is not defined

### Update List

In [1]:
l=[45,68,89,78]

In [2]:
l[0]=46
l[2]=65
l

[46, 68, 65, 78]

### Change a Range of Item Values

In [3]:
l = ["Delhi", "banglore", "chennai", "Punjab", "kolkata", "MP"]
l[1:3] = ["bombay", "bihar"]
print(l)

['Delhi', 'bombay', 'bihar', 'Punjab', 'kolkata', 'MP']

In [4]:
l = ["Delhi", "banglore", "chennai"]
l[1:2] = ["bombay", "bihar"]
print(l)

['Delhi', 'bombay', 'bihar', 'chennai']

In [5]:
len(l)

4

In [6]:
l[1]

'bombay'

In [7]:
l[2]

'bihar'

In [8]:
l[3]

'chennai'

In [9]:
l = ["Delhi", "banglore", "chennai"]
l[1:2] = ["bombay"]
print(l)

['Delhi', 'bombay', 'chennai']

In [10]:
l = ["Delhi", "banglore", "chennai"]
l[1:3] = ["bombay"]
print(l)

['Delhi', 'bombay']

In [11]:
len(l)

2

### Clear all the items of the list

In [12]:
l=[67,78,'divya',78,66]

In [13]:
l

[67, 78, 'divya', 78, 66]

In [14]:
l.clear() 
l

[]

In [15]:
l=[78,56,43,23,90]
l.clear(1)

TypeError: list.clear() takes no arguments (1 given)

#### Compare List 
- cmp method is not used in python version 3

In [16]:
l=[45,'teena',77.6,33,'divi']

In [17]:
l1=[45,'divi',77.6,33,'teena']

In [18]:
l==l1

False

In [19]:
l=[45,'teena',77.6,33,'divi']

In [20]:
l1=[45,'teena',77.6,33,'divi']

In [21]:
l==l1

True

In [22]:
l=[45,'teena',77.6,33,'divi']

In [23]:
l1=[45,'TEENA',77.6,33,'divi']

In [24]:
l==l1

False

#### Converts any sequence into list

In [25]:
s='Hello lets'
l2=list(s)
l2

['H', 'e', 'l', 'l', 'o', ' ', 'l', 'e', 't', 's']

In [26]:
type(l2)

list

In [27]:
len(l2)

10

In [28]:
type(s)

str

In [29]:
s1="hello let's"
s1

"hello let's"

In [30]:
print(s1)

hello let's

In [31]:
l3=list(s1)

In [32]:
l3

['h', 'e', 'l', 'l', 'o', ' ', 'l', 'e', 't', "'", 's']

In [33]:
len(l3)

11

### Copy List

In [34]:
l=[89,'shiv',78,'divya',88,'kirti',88,'rohit']
l

[89, 'shiv', 78, 'divya', 88, 'kirti', 88, 'rohit']

#### Create a new reference of the list

In [35]:
l1=l

In [36]:
id(l)

2469827964800

In [37]:
id(l1)

2469827964800

In [38]:
l

[89, 'shiv', 78, 'divya', 88, 'kirti', 88, 'rohit']

In [39]:
l1

[89, 'shiv', 78, 'divya', 88, 'kirti', 88, 'rohit']

In [40]:
l3=l.copy()

In [41]:
l3

[89, 'shiv', 78, 'divya', 88, 'kirti', 88, 'rohit']

In [42]:
id(l3)

2469856255808

In [43]:
l[0]=55
l

[55, 'shiv', 78, 'divya', 88, 'kirti', 88, 'rohit']

In [44]:
l1

[55, 'shiv', 78, 'divya', 88, 'kirti', 88, 'rohit']

In [45]:
l3

[89, 'shiv', 78, 'divya', 88, 'kirti', 88, 'rohit']

In [46]:
l4=list(l3)
l4

[89, 'shiv', 78, 'divya', 88, 'kirti', 88, 'rohit']

In [47]:
id(l4)

2469856159552

In [48]:
id(l3)

2469856255808

### Join List

In [1]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]

#### Join two list by using + operator

In [50]:
l3=l1+l2 
l3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Join two list using append

In [ ]:
l4 = ["divya", "bharti" , "kiran"]
l5 = [1, 2, 3]

for x in l5:
    l4.append(x)

print(l4)

#### Join two list using extend

In [3]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]

In [4]:
l1.extend(l2)
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Membership operator in List

In [5]:
2 in l1

True

In [6]:
9 in l1

True

In [7]:
11 in l1

False

In [8]:
l2=['divya','kiran','jyoti','sheetal','veer']
if 'divya' in l2:
    print("Available")
else:
    print("Not Available")

Available

### Reverse a list

In [9]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
l1.reverse()
l1

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [11]:
l1=l1[::-1]
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Count Elements  of List

In [12]:
l=[2,4,2,3,6,4,5,7,8,4,9]
l.count(4)

3

In [13]:
l=[2,4,2,3,6,4,5,7,8,4,9]
l.count(41)

0

### Repeating the elements of list

In [14]:
l=[2,3,4]
l*2

[2, 3, 4, 2, 3, 4]

### Sort a list

#### Sort list in ascending order

In [15]:
li=[56,43,89,33,21,90]
li.sort() 
li

[21, 33, 43, 56, 89, 90]

#### Sort list in descending order

In [16]:
li.sort(reverse=True) 
li

[90, 89, 56, 43, 33, 21]

In [17]:
l1=[89,90,45,67,'Divya','teena',60]
l1.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

#### Case Insensitive Sort

In [18]:
l = ["Delhi", "banglore", "chennai", "Punjab", "kolkata", "MP"]
l.sort()
l

['Delhi', 'MP', 'Punjab', 'banglore', 'chennai', 'kolkata']

In [19]:
l = ["Delhi", "banglore", "chennai", "Punjab", "kolkata", "MP"]
l.sort(key=str.lower)
l

['banglore', 'chennai', 'Delhi', 'kolkata', 'MP', 'Punjab']

In [22]:
l=['aarti','aanya','teena','Teena','tiya','Tiya']
l.sort()
l

['Teena', 'Tiya', 'aanya', 'aarti', 'teena', 'tiya']

In [23]:
l.sort(key=str.lower)
l

['aanya', 'aarti', 'Teena', 'teena', 'Tiya', 'tiya']

#### Returns a new sorted list and doesnot change the original list

In [29]:
ls=[67,88,3,90,21,66,88]
sorted(ls)

[3, 21, 66, 67, 88, 88, 90]

In [30]:
ls

[67, 88, 3, 90, 21, 66, 88]

In [27]:
l=[6,12,89,32,44,21]
l.sort()
l

[6, 12, 21, 32, 44, 89]

In [28]:
l

[6, 12, 21, 32, 44, 89]