## Sets 
- Unordered and unindexed collection of items
- Set elements are unique .duplicate elements are not allowed.
- Set elements are immutable.
- Set itself is mutable.
- It does not preserved insertion order.
- Declare by {}
- It allows heterogenous elements.
- Sets are used to store multiple items in a single variable.

### Set of numbers

In [1]:
s={11,12,13,14,15} 
s

{11, 12, 13, 14, 15}

In [2]:
type(s)

set

In [3]:
len(s)

5

In [4]:
s={89,76,45,33,21}

In [5]:
s

{21, 33, 45, 76, 89}

In [6]:
s1={56,67,"divya",56,78,65}
s1

{56, 65, 67, 78, 'divya'}

#### Creating an empty set

In [7]:
s2=set() 
type(s2)

set

In [8]:
s2

set()

#### Set constructor

In [9]:
s3=set((1,2,34,67,89))  
s3

{1, 2, 34, 67, 89}

In [10]:
type(s3)

set

### Set membership

### Add a single element

In [11]:
s3

{1, 2, 34, 67, 89}

In [12]:
s3.add(22)  
s3

{1, 2, 22, 34, 67, 89}

In [13]:
s3[2]=78
s3

TypeError: 'set' object does not support item assignment

### Add multiple elements

In [14]:
s3.update([62,80,5]) 
s3

{1, 2, 5, 22, 34, 62, 67, 80, 89}

### Add one set to another set

In [15]:
s4={23,56,78,11} 
s5={44,64,89,33}
s4.update(s5)
s4

{11, 23, 33, 44, 56, 64, 78, 89}

In [16]:
s5

{33, 44, 64, 89}

### Adding element by tuple

In [17]:
s5.update((34,67,78))
s5

{33, 34, 44, 64, 67, 78, 89}

### Remove 
- If the item to remove does not exist, remove() will raise an error.
- If the item to remove does not exist, discard() will NOT raise an error.
-  Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

In [18]:
s3

{1, 2, 5, 22, 34, 62, 67, 80, 89}

In [19]:
s3.remove(34)
s3

{1, 2, 5, 22, 62, 67, 80, 89}

In [20]:
s3.remove(43)
s3

KeyError: 43

In [21]:
s3

{1, 2, 5, 22, 62, 67, 80, 89}

In [22]:
s3.discard(67)
s3

{1, 2, 5, 22, 62, 80, 89}

In [23]:
s3.discard(77)
s3

{1, 2, 5, 22, 62, 80, 89}

In [24]:
s3.pop()

1

In [25]:
s3

{2, 5, 22, 62, 80, 89}

In [26]:
s3.pop()

2

In [27]:
s3

{5, 22, 62, 80, 89}

In [28]:
s3.clear()

In [29]:
s3

set()

In [30]:
del s3

In [31]:
s3

NameError: name 's3' is not defined

### copy set

### set operation

#### Union
- The union() method that returns a new set containing all items from both sets.
- The update() method that inserts all the items from one set into another
- Both union() and update() will exclude any duplicate items.

In [32]:
A={81,2,30,74}
B={55,16,76,80,9}
c={10,11}

In [33]:
A|B

{2, 9, 16, 30, 55, 74, 76, 80, 81}

In [34]:
A

{2, 30, 74, 81}

In [35]:
B

{9, 16, 55, 76, 80}

In [36]:
A.union(B)

{2, 9, 16, 30, 55, 74, 76, 80, 81}

In [37]:
A

{2, 30, 74, 81}

In [38]:
A.update(B)

In [39]:
A

{2, 9, 16, 30, 55, 74, 76, 80, 81}

In [40]:
D=A.union(B,c)

In [41]:
D

{2, 9, 10, 11, 16, 30, 55, 74, 76, 80, 81}

In [42]:
A

{2, 9, 16, 30, 55, 74, 76, 80, 81}

In [43]:
B

{9, 16, 55, 76, 80}

In [44]:
c

{10, 11}

In [45]:
"""
updates the set calling the update() method with union of A,B and c"""
A.update(B,c)

In [46]:
A

{2, 9, 10, 11, 16, 30, 55, 74, 76, 80, 81}

In [47]:
B

{9, 16, 55, 76, 80}

In [48]:
c

{10, 11}

#### Intersection
- The intersection() method will return a new set, that only contains the items that are present in both sets.
- The intersection_update() method will keep only the items that are present in both sets.

In [49]:
A={1,2,3,4}
b={4,3,5,6}

In [50]:
A & b

{3, 4}

In [51]:
A.intersection(b)

{3, 4}

In [52]:
A

{1, 2, 3, 4}

In [53]:
b

{3, 4, 5, 6}

In [54]:
A={1,2,3,4}
b={41,13,5,6}

In [55]:
A & b

set()

In [56]:
A={1,2,3,4}
b={4,3,5,6}

In [57]:
"""
updates the set calling the intersection_update() method with the intersection of sets"""
A.intersection_update(b)
A

{3, 4}

In [58]:
b

{3, 4, 5, 6}

In [59]:
A

{3, 4}

In [60]:
a={5,7,8,3}
c={5,2,8,4}

In [61]:
a.intersection(c)

{5, 8}

In [62]:
a

{3, 5, 7, 8}

In [63]:
c

{2, 4, 5, 8}

In [64]:
c.intersection_update(a)

In [65]:
c

{5, 8}

In [66]:
a

{3, 5, 7, 8}

### Difference

In [67]:
x={1,2,3,4,5}
y={4,5,6,7,8}

In [68]:
x-y

{1, 2, 3}

In [69]:
y-x

{6, 7, 8}

In [70]:
x.difference(y)

{1, 2, 3}

In [71]:
y.difference(x)

{6, 7, 8}

In [72]:
x

{1, 2, 3, 4, 5}

In [73]:
y

{4, 5, 6, 7, 8}

In [74]:
"""
updates the set calling the difference_update() method with the difference of sets"""
x.difference_update(y)
x

{1, 2, 3}

In [75]:
y

{4, 5, 6, 7, 8}

#### Symmetric Difference
- The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.
- The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [1]:
i={1,2,3,4,5}
j={4,5,6,7,8}

#### Symmetric difference (set of elements in i and j but not in both,"excluding the intersection")

In [2]:
i ^ j

{1, 2, 3, 6, 7, 8}

In [3]:
i.symmetric_difference(j)

{1, 2, 3, 6, 7, 8}

In [4]:
i

{1, 2, 3, 4, 5}

In [5]:
j

{4, 5, 6, 7, 8}

In [6]:
"""
updates the set calling the symmetric_difference_update() method with the symmetric difference of sets"""
i.symmetric_difference_update(j)
i

{1, 2, 3, 6, 7, 8}

In [7]:
j

{4, 5, 6, 7, 8}

### isdisjoint()
- The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.

In [8]:
i={1,2,3,4,5}
j={4,5,6,7,8}
x=i.isdisjoint(j)
x

False

In [9]:
i={1,2,3,4}
j={5,6,7,8}
x=i.isdisjoint(j)
x

True

### issubset()
- The issubset() method returns True if all items in the set exists in the specified set, otherwise it retuns False.

In [10]:
i={1,2,3,4}
j={5,6,7,8}
x=i.issubset(j)
x

False

In [11]:
i={1,2,3,4}
j={1,2,3,4,6,7,8}
x=i.issubset(j)
x

True

In [12]:
i={1,2,3,4}
j={1,2,4,6,7,8}
x=i.issubset(j)
x

False

In [13]:
i={1,2,3,4}
j={1,2,3,4,6,7,8}
x=j.issubset(i)
x

False

### issuperset
- The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it retuns False.

In [14]:
i={1,2,3,4,5,6,7,8}
j={6,7,8}
x=i.issuperset(j)

In [15]:
x

True

In [16]:
i={1,2,3,4,5,6,7,8}
j={6,7,8}
x=j.issuperset(i)
x

False

In [17]:
i={1,2,3,4}
j={1,2,3,4,6,7,8}
x=i.issuperset(j)
x

False

### Frozenset 
- Set and frozenset are same but frozenset is immutable.
- Set contains unique value.
- It does not preserved insertion order.
- Declared by {}
- It allows heterogeneous objects.

In [18]:
s={1,2,3,4,5}
f=frozenset(s)

type(f)

frozenset

In [19]:
f

frozenset({1, 2, 3, 4, 5})

In [20]:
print(f)

frozenset({1, 2, 3, 4, 5})

In [21]:
type(s)

set

In [22]:
f.add(12)

AttributeError: 'frozenset' object has no attribute 'add'

In [23]:
f[1]

TypeError: 'frozenset' object is not subscriptable

In [24]:
f=frozenset({67,78,34,23,90,6,'divya',7+8j})
f

frozenset({(7+8j), 23, 34, 6, 67, 78, 90, 'divya'})

### Operations on frozen set
- Perform all operations on frozen set

In [25]:
f

frozenset({(7+8j), 23, 34, 6, 67, 78, 90, 'divya'})

In [26]:
f.remove(3)

AttributeError: 'frozenset' object has no attribute 'remove'

In [27]:
f.discard(3)

AttributeError: 'frozenset' object has no attribute 'discard'

In [28]:
f.pop()

AttributeError: 'frozenset' object has no attribute 'pop'

In [29]:
f.clear()

AttributeError: 'frozenset' object has no attribute 'clear'

In [30]:
del f

In [31]:
f

NameError: name 'f' is not defined

In [ ]:
i={2,4,6,7}
j={4,7,3,2}
i=frozenset(i)
j=frozenset(j)

In [ ]:
type(i)
type(j)

In [ ]:
a=i.copy()
a

In [ ]:
id(i)

In [ ]:
id(a)

In [ ]:
i1=i

In [ ]:
i1

In [ ]:
id(i1)

In [ ]:
i.union(j)

In [ ]:
i.intersection(j)

In [ ]:
i.difference(j)