## Tuples
- Tuple is similar to list except that the objects in tuple are immutable which means we cannot the change the elements of a tuple once assigned.
- When we do not want to change the data over time,tuple is a preferred data type.
- Iterating over the elements of a tuple is faster compared to iterating over a list

### Points to Remember 
- Insertion order preserved.
- Duplicate objects are allowed.
- Heterogenous objects are allowed.
- It is immutable.
- Value at any index cannot be changed.
- Slicing and indexing can be done on tuple.
- Declare using ()
- If tuple contain only one element then it will act as int
   a=(10)
    type(a)

In [1]:
a=(33)
type(a)

int

In [2]:
a=33
type(a)

int

#### Creating tuple with one element

In [3]:
a=(33,)
type(a)

tuple

In [6]:
a

(33,)

#### Creating tuple without parentheses

In [4]:
t='divya',89,66,45.5
t

('divya', 89, 66, 45.5)

In [5]:
type(t)

tuple

#### The tuple which is created without using parentheses is also known as tuple packing.

#### Creating Tuple

In [7]:
t=(45,"divya",89.9,5+7j)
type(t)

tuple

In [8]:
t

(45, 'divya', 89.9, (5+7j))

#### Creating tuple with Constructor

In [9]:
t=tuple(('kivi',56,78,'teena'))
t

('kivi', 56, 78, 'teena')

In [10]:
type(t)

tuple

In [11]:
t[0]

'kivi'

In [12]:
t[2]

78

In [13]:
del t[0]

TypeError: 'tuple' object doesn't support item deletion

In [14]:
t[0]='heena'

TypeError: 'tuple' object does not support item assignment

In [15]:
len(t)

4

In [16]:
del t

In [17]:
t

NameError: name 't' is not defined

### Convert tuple into List

In [18]:
t=(78,89.9,'heena','tarun',56)

In [19]:
x=list(t)
print(x)

[78, 89.9, 'heena', 'tarun', 56]

In [20]:
type(x)

list

In [21]:
type(t)

tuple

In [22]:
t[3]=90

TypeError: 'tuple' object does not support item assignment

In [23]:
x[3]=90
print(x)

[78, 89.9, 'heena', 90, 56]

In [24]:
t=tuple(x)
print(t)

(78, 89.9, 'heena', 90, 56)

In [25]:
t[1]=67

TypeError: 'tuple' object does not support item assignment

In [26]:
del t

In [27]:
t

NameError: name 't' is not defined

### Loop through a Tuple

In [ ]:
t=(78,"divya",89.6,45,78,"ruhi")
for i in t:
    print(i)

### Count element of Tuple

In [28]:
t=(78,"divya",89.6,45,78,"ruhi")

In [29]:
t.count(78)

2

#### Tuple Operations
- Tuple membership
- Concatenation
- Repetition
- Iteration
- max
- min
- len

#### Convert sequence into tuple

In [30]:
t="learn python"
t1=tuple(t)
t1

('l', 'e', 'a', 'r', 'n', ' ', 'p', 'y', 't', 'h', 'o', 'n')

In [31]:
type(t1)

tuple

In [32]:
type(t)

str

### Index position

In [33]:
t=(78,"divya",89.6,45,78,"ruhi")
t.index("divya")

1

### Sorting a Tuple

In [34]:
t=(67,54,33,21,90,63,77)
sorted(t)

[21, 33, 54, 63, 67, 77, 90]

In [35]:
t

(67, 54, 33, 21, 90, 63, 77)

In [36]:
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [37]:
dir(t)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [38]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [3]:
f1=("shiv",)

In [4]:
type(f1)

tuple

In [5]:
f=("shiv","adi","zeba","rinky")
sorted(f)

['adi', 'rinky', 'shiv', 'zeba']

In [6]:
f

('shiv', 'adi', 'zeba', 'rinky')

In [7]:
t=(67,54,33,21,90,63,77)

In [8]:
t

(67, 54, 33, 21, 90, 63, 77)

In [9]:
sorted(t,reverse=True)

[90, 77, 67, 63, 54, 33, 21]

In [10]:
type(sorted(t))

list

In [11]:
t

(67, 54, 33, 21, 90, 63, 77)

In [12]:
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [13]:
t1=(78,"divya",89.6,45,78,"ruhi")
t1.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [14]:
t=(67,78,89,('divya','jyoti'),66)
t

(67, 78, 89, ('divya', 'jyoti'), 66)

In [15]:
t[3]

('divya', 'jyoti')

In [16]:
len(t)

5

In [17]:
t[3][0]

'divya'

In [19]:
t

(67, 78, 89, ('divya', 'jyoti'), 66)

In [18]:
max(t)

TypeError: '>' not supported between instances of 'tuple' and 'int'

In [20]:
t1=('udit','hari','yuvi','itti')

In [21]:
max(t1)

'yuvi'

In [22]:
t2=(78,54,12,(34,56,21),72)

In [23]:
max(t2)

TypeError: '>' not supported between instances of 'tuple' and 'int'

In [24]:
t.append(67)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
dir(t)