### Base Conversion
- 1.Binary : 0 or 1 ,0b or 0B -->bin()
- 2.Octadecimal :0 to 7 ,0o or 0O -->oct()
- 3.Hexadecimal : 0 to 9 and a,b,c,d,e,f ,0x or 0X --> hex()

#### Decimal to Binary

In [1]:
a=7
b=bin(a)
print(b)
print(type(b))

0b111
<class 'str'>

#### Decimal to Octal

In [2]:
a=9
b=oct(a)
print(b)
print(type(b))

0o11
<class 'str'>

#### Decimal to Hexadecimal

In [3]:
a=9
b=hex(a)
print(b)
print(type(b))

0x9
<class 'str'>

#### Binary to Octadecimal,Hexadecimal and Decimal

In [4]:
a=0b1001
print(oct(a))
print(hex(a))
print(int(a))

0o11
0x9
9

### Python Indentation
- Indentation refers to the spaces at the beginning of a code line.
- In other programming languages the indentation in code is for readability only, the indentation in Python is very important.
- Python uses indentation to indicate a block of code.

In [7]:
marks=int(input('enter marks'))
if marks>50:
    print('you  are pass')
else:
    print('you are fail')

enter marks78
you  are pass

### Comments
- It can be used to explain Python code.
- It can be used to make the code more readable.
- It can be used to prevent execution when testing code.

In [8]:
#Addition of two number showing single line comment 
a=12
b=14
c=a+b
print(c)

26

In [9]:
'''Addition of two number 
showing multiline comment'''
a=12
b=14
c=a+b
print(c)

26

## Data types

### Numeric Types

#### `1.  INT :` 
- Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.
- There is effectively no limit to how long an integer value can be.

In [2]:
import sys
v=66 #integer data type
print(id(v))
print(type(v))
print(sys.getsizeof(v)) #size of integer object in bytes

2342314135952
<class 'int'>
28

In [3]:

v=66 #integer data type
print(id(v))
print(type(v))
print(getsizeof(v))

2342314135952
<class 'int'>

NameError: name 'getsizeof' is not defined

In [4]:
print(v,"is integer ?",isinstance(v,float)) # v is an instance of class int

66 is integer ? False

In [5]:
print(v,"is integer ?",isinstance(v,int))

66 is integer ? True

In [6]:
v=-45  #integer data type
print(id(v))
print(type(v))
print(sys.getsizeof(v))

2342430485040
<class 'int'>
28

#### `2.  float :`
- Float values are specified with a decimal point.
- Float can also be scientific numbers with an "e" to indicate the power of 10.

In [7]:
v=23.67  #float data type
print(id(v))
print(type(v))
print(sys.getsizeof(v)) #size of float object in bytes
print(v,"is float ?",isinstance(v,float)) # v is an instance of class float

2342430485680
<class 'float'>
24
23.67 is float ? True

In [8]:
v=-23.67e10  #float data type
print(id(v))
print(type(v))
print(sys.getsizeof(v)) #size of float object in bytes
print(v,"is float ?",isinstance(v,float)) # v is an instance of class float

2342402239888
<class 'float'>
24
-236700000000.0 is float ? True

#### `3.  Complex :`
- Complex numbers are written with a "j" as the imaginary part.

In [9]:
v=23+10j  #complex data type
print(id(v))
print(type(v))
print(sys.getsizeof(v)) #size of complex object in bytes
print(v,"is complex ?",isinstance(v,complex))

2342430485072
<class 'complex'>
32
(23+10j) is complex ? True

### Boolean Type

#### `1. bool :`
- bool  means boolean value .
- It supports only `True` and `False` or `1` and `0`

In [10]:
b=True
c=False
print(type(b))

<class 'bool'>

In [11]:
isinstance(b,bool)

True

In [12]:
bool(0)

False

In [13]:
bool(1)

True

## Type Casting or Type conversion
- conversion of one data type into other data type is called `Type Casting` or `Type Conversion`.
1. int() 
2. float() 
3. str() 
4. bool() 
5. complex()

### 1. int()

In [1]:
a= 17
print(type(a))

<class 'int'>

#### int to str

In [2]:
a_str = str(a)
print(a_str)
print(type(a_str))

17
<class 'str'>

####  int to float

In [3]:
a_float = float(a)
print(a_float)
print(type(a_float))

17.0
<class 'float'>

In [4]:
b=-7

In [5]:
a_bool = bool(b)
print(a_bool)
print(type(a_bool))

True
<class 'bool'>

In [6]:
b=0
a_bool = bool(b)
print(a_bool)
print(type(a_bool))

False
<class 'bool'>

#### int to bool

In [ ]:
a_bool = bool(a)
print(a_bool)
print(type(a_bool))

#### int to complex

In [7]:
a_complex = complex(a)
print(a_complex)
print(type(a_complex))

(17+0j)
<class 'complex'>

### 2. float()

In [8]:
b= 15.6
print(type(b))



# float to str
b_str = str(b)
print(b_str)
print(type(b_str))

# float to bool
b_bool = bool(b)
print(b_bool)
print(type(b_bool))

# float to complex 
b_complex = complex(b)
print(b_complex)
print(type(b_complex))

<class 'float'>
15.6
<class 'str'>
True
<class 'bool'>
(15.6+0j)
<class 'complex'>

In [9]:
# float to int
b_int = int(b)
print(b_int)
print(type(b_int))

15
<class 'int'>

### 3. str()
-  Str() can be convertable into `bool` only.

In [16]:
c= '139'
print(type(c))

<class 'str'>

In [12]:
c

'shalini'

In [18]:
# str to int
c1 = int(c)
print(c1)
print(type(c1))

ValueError: invalid literal for int() with base 10: 'shalini139'

In [14]:
# str to bool
c2 = bool(c)
print(c2)
print(type(c2))

True
<class 'bool'>

In [15]:
# str to float
c2 = float(c)
print(c2)
print(type(c2))

ValueError: could not convert string to float: 'shalini'

### 4. bool()

In [19]:
d = True
type(d)

bool

In [20]:
d1 =str(d)
print(type(d1))
print(d1)

<class 'str'>
True

In [21]:
d2 = complex(d)
type(d2)
print(d2)

(1+0j)

In [22]:
d3 = int(d)
type(d3)
d3

1

In [23]:
d4 = float(d)
type(d4)
d4

1.0

In [24]:
d = False
type(d)

bool

In [25]:
d4 = float(d)
type(d4)
d4

0.0

In [26]:
d4 = int(d)
type(d4)
d4

0

In [27]:
d4 = complex(d)
type(d4)
d4

0j

### 5. Complex()
- complex() cannot be convertable to `int` and `float`

In [28]:
e = 2+3j
type(e)

complex

In [33]:
e1 = str(e)
print(type(e1))
e1

<class 'str'>

'(2+3j)'

In [30]:
e2 = int(e)
type(e2)
e2

TypeError: can't convert complex to int

In [31]:
e3 =float(e)
type(e3)
e3

TypeError: can't convert complex to float

In [32]:
e4 =bool(e)
type(e4)
e4

True

In [34]:
a=17
a1= complex(a)

In [35]:
a1

(17+0j)